package StudentCode;

public class Etudiant{
        public static double average(double a, double b, double c){
    @		@average@@
        }
        public static double minimum(double a, double b, double c){
    @		@minimum@@	
        }

        public static double maximum(double a, double b, double c){
    @		@maximum@@	
        }
    
        public static double median(double a, double b, double c){

    @		@median@@	
        }
    
        public static boolean sublime(int n) {
    @		@sublime@@
        }


    @	@sub_help@@
}