/**
 * Exercices pour la mission 4
 * 
 * @author O. Bonaventure
 * @version 2016
 */

package StudentCode;

public class Etudiant
{
   /* @pre s!=null et s est la représentation d'un nombre entier décimal  (il contient uniquement des chiffres)
     * @post retourne la représentation entière du nombre 
     * 
     * voir http://docs.oracle.com/javase/6/docs/api/java/lang/Character.html#getNumericValue(char)
     */
    @	@q1@@
}
