package StudentCode;

import java.io.*;

/**
 *	@author: François MICHEL
 */
 
public class Etudiant{
	
	/**
	 * 	@pre 	filename est le nom d'un fichier.
	 * 		 	si le fichier désigné par filename est lisible, chaque ligne du fichier contient un String en deux parties, séparées par un "-"
	 * 	@post 	imprime sur la sortie standard la première partie de chaque ligne du fichier désigné par filename, un résultat par ligne.
	 */
	public static int premierPrenom(String filename) throws IOException{
@		@q1@@
	}
}
