package StudentCode;

/**
 * Une classe représentant une fraction
 * 
 * @author O. Bonaventure
 * @version Oct. 2016
 */
public class Fraction
{
    private int num; // numerateur
    private int den; // denominateur

    /**
     * @pre num>=0, den>0
     * @post construit la fraction num/den
     */
    public Fraction(int num, int den)
    {
        this.num=num;
        this.den=den;
    }

    /* 
     * @pre -
     * @post retourne le dénominateur de la fraction
     */
    public int getDen() 
    {
        return this.den;
    }
    
    //Q1
    
    /* 
     * @pre -
     * @post retourne le numérateur de la fraction
     */
    public int getNum()
    {
        
        return this.num;
    }
    
    // Q2
    
    /*
     * @pre -
     * @post retourne true si la valeur numérique de la fraction est égale à une valeur entière
     */
   @	@q1@@
    
    
    // ne pas fournir aux étudiants mais on l'utilise
    
    /*
     * @pre -
     * @post représentation de la fraction sous forme de String
     */
    public String toString() {
        return this.num+"/"+this.den;
    }
    
    
        // ne pas utiliser maintenant ce qui suit
    /*
     * @pre -
     * @post modifie la fraction de façon à ce qu'elle soit irréductible
     */
    public void reduit() {
        int n=this.num;
        int d=this.den;
        for(int i=2; i<Math.min(n,d); i++) {
            if( ((n%i)==0) && ((d%i)==0) ) {
                n=n/i;
                d=d/i;
            }
        }
        this.num=n;
        this.den=d;
    }
    /*
     * @pre f!=null
     * @post retourne true si la fraction f est equivalente à this, c'est-à-dire
     *       correspond à la même valeur numérique
     * 
     */
    public boolean equivalente(Fraction f) 
    {
        
        return false;
    }
    
    /*
     * @pre !=null
     * @post retourne la fraction qui est la somme entre this et la fraction f
     */
    public Fraction somme(Fraction f)
    {
        return new Fraction(this.num*f.getDen()+this.den*f.getNum(),this.den*f.getDen());   
        
    }
}
