package StudentCode;

import java.io.*;

/**
 * @author Dubray Alexandre
 */

public class Etudiant {

	/**
	 * @pre		-
	 * @post	Retourne true si le fichier de nom
	 *			filename est accessible (i.e. peut
	 *			être ouvert)
	 */
	@	@q1@@
}
