package StudentCode;

public class Etudiant{
	public static class RevisedRatio
	{
		/**
		 * @pre n1 et n2 sont des chaînes de caractères != null
		 * @post après conversion de n1 et n2 en entier, retourne n1/n2
		 */
		public static int divise(String n1, String n2)
		{
			int n = Integer.parseInt(n1);
			int d = Integer.parseInt(n2);
			return doDivise(n, d);
		}

		/** 
		 * @pre  n et d sont des entiers
		 * @post retourne n/d si d!=0, sinon throws AritmeticException
		 */
		public static int doDivise(int n, int d)
		{
			return (n/d);
		}

		/**
		 * @pre args contient un tableau de String passés en ligne de commande
		 * @post si args contient seulement un String, affiche un message d'erreur
		 *        sinon affiche le résultat de la division de args[0] par args[i]
		 *        pour tout 0 < i < args.length
		 */
		public static int div(String[] args)
		{
			if(args.length<2)
			{   
				System.out.println("Erreur : la ligne de commande doit être :");
				System.out.println("java ratio num1 num2 num3... ");
				System.exit(-1);
			}
			else
			{
				for(int i=1; i<args.length;i++)
				{
@					@q1@@
                     System.out.println(args[0] + "/" + args[i] + " = " + divise(args[0], args[i]));
				}
			}
			return 0;        
		}
	}
}
