package StudentCode;

/**
 * Une classe représentant un Point
 * 
 * @author O. Bonaventure
 * @version Oct. 2016
 * refactor Dubray Alexandre 2017
 */
public class Point
{
   private double x;
   private double y;
   
   /*
    * @pre -
    * @post a construit le point de coordonnée x,y
    */
   public Point(double x, double y) {
    this.x=x;
    this.y=y;
   }
   
   @	@q1@@
   
   /*
    * @pre p!=null
    * @post retourne la distance entre this et p
    * 
    * Voir https://fr.wikipedia.org/wiki/Coordonnées_cartésiennes
    * pour le rappel de la distance entre deux points 
    */
   
   public double distance(Point p)
   {
       return Math.sqrt( Math.pow((this.getX()-p.getX()),2)+Math.pow((this.getY()-p.getY()),2));
       
   }
 
   /*
    * @pre
    * @post retourne true si le Point p a les mêmes coordonnées x,y que this, false sinon
    */
   public boolean identique(Point p) {
       
       return (this.x==p.getX() && this.y==p.getY());
       
   }
   
   // code non fourni
   
   public String toString()
   {
       return "("+this.x+","+this.y+")";
       
   }
   
}
