package StudentCode;

public class Pair {

	private int a;
	private int b;

	public Pair(int a,int b){
		this.a = a;
		this.b = b;
	}

	public int getA() {
		return this.a;
	}

	public int getB() {
		return this.b;
	}

@	@q1@	@

	public String toString(){
		return "("+this.getA()+","+this.getB()+")";
	}

}
