package StudentCode;
/**
 *  @author François MICHEL
 */


public class Etudiant{
	
	// méthodes que l'étudiant peut ajouter
@		@q2@@
	
	// méthode à implémenter par l'étudiant
	public static boolean containsChar(String s1, String s2){
@		@q1@@
	}
}
