package StudentCode;

/**
 * Un processus, avec un nom (String), une capacité de stockage requise (int)
 * et un identifiant de processus, ou PID (int).
 * Les PIDs sont attribués séquentiellement à la création de chaque nouveau processus
 * (1 pour le premier, 2 pour le deuxième, etc.).
 *
 * @author O. Bonaventure, Ch. Pecheur
 * @version Dec. 2007
 */
public class Process //implements ProcessIF
{
@	@q1@@

public static void montest(){
    @	@zmontest@@
}
}
