package StudentCode;

/**
 * Une classe simple avec un objet contenant un booleen
 */

public class Drapeau {
	private boolean drapeau; // la valeur du drapeau

	// Constructeur
	/**
	 * @pre : -
	 * @post : un objet de type Drapeau est cree et represente le booleen
	 *         passe en argument
	 */
	public Drapeau(boolean b) {
		drapeau = b;
	}

	/**
	 * @pre -
	 * @post le drapeau vaut b
	 */
	public void set(boolean b) {
		drapeau = b;
	}

	/**
	 * @pre -
	 * @post retourne la valeur du drapeau
	 */
	public boolean get() {
		return drapeau;
	}
	
	public boolean same(Drapeau d){
@			@q1@@
	}

}
