package StudentCode;

import java.io.BufferedReader;
import java.io.FileReader;
import java.io.IOException;
import java.io.FileNotFoundException;
import java.util.ArrayList;

/**
 * A class representing a vector
 *
 * @author ogoletti
 * @version 29/11/16
 */
public class Etudiant {

    /**
     * @pre filename != null
     * @post lit dans le fichier dont le nom est fileName le contenu du vecteur v
     *       le format du fichier est : un élément par ligne en commençant par v[0] ...
     *     Les lignes à un format incorrect sont ignorées.
     *     En cas d'erreur d'entrée/sortie (exception, fichier non lisible,
     *     nombre incorrect d'éléments ) retourne null
     */
    public static double[] loadVector(String filename) {
        @ @q1@@
    }

}
