package StudentCode;

import java.io.*;
import src.librairies.ConstructException;
/**
 * Classe pour acceuilir le code de l'étudiant
 * @author Dubray Alexandre
 */
public class Etudiant {

	public static int countLines(String fileName) throws ConstructException, IOException {
		@	@q1@@
	}
}
