/**
 * @author O. Bonaventure
 */
package StudentCode;

import src.librairies.MyString;

public class StringTab implements MyString {

	private char [] s;

	/**
	 * @pre		-
	 * @post	Constructeur
	 */
	public StringTab(char c) {
		@	@q1@@
	}

	/**
	 * @pre		-
	 * @post	Constructeur
	 */
	public StringTab(char [] c) {
		@	@q2@@
	}


	public MyString concat(char c) {
		char [] s2 = new char[this.length()+1];
		for(int i = 0; i < this.length(); i++)
				s2[i] = this.charAt(i);
		s2[s2.length-1] = c;
		return new StringTab(s2);
	}

	public boolean contains(MyString other) {
		if(other.length() > this.length())
			return false;

		for(int i=0;i<= this.length()-other.length();i++) {
			boolean found = true;

			for(int j=i;j<other.length();j++) {
				if(other.charAt(j-i) != this.charAt(j)) {
					found = false;
					break;
				}
			}
			if(found)
				return true;
		}
		return false;
	}

@	@q3@@

	/**
	 * Ne pas montrer aux étudiants. Fonctions utilisées pour
	 * les tests
	 * 
	 */
	 public void setArray(char [] c) {
		this.s = c;
	}

	public int realLength(){
		return this.s.length;
	}

	public char realCharAt(int i) {
		return this.s[i];
	}

	public char [] getS(){ return this.s;}
}

