/**
 * Class Stack that implements the interface StackIF
 * 
 * @author Trong-Viet Ho 
 * @version Dec 2012
 */
package StudentCode;


import student.StackIF;
import student.State;
import student.EmptyStackException;
import java.util.List;
import java.util.ArrayList;

public class Stack implements StackIF
{
@	@q1@@
}
