/**
 * Exercices pour la mission 4
 * 
 * @author O. Bonaventure
 * @version 2016
 */

/*
 * Transformer un nombre en notation binaire en sa représentation sous forme de int https://fr.wikipedia.org/wiki/Système_binaire
 */
package StudentCode;

public class Etudiant
{
   /* @pre s!=null et s est la représentation d'un nombre binaire (il contient uniquement des 1 et des 0)
     * @post retourne la représentation entière du nombre binaire
     */
    @	@q1@@
}
