package StudentCode;

import java.util.List;
import java.util.ArrayList;

import java.io.FileNotFoundException;
import java.io.EOFException;

import src.librairies.TextIO;

/**
 *  @author François MICHEL
 */


public class Etudiant{
	String prenom;
	String nom;
	int cote;
	private static ArrayList<Etudiant> list;

	public static void lireCotes() throws EOFException,FileNotFoundException {
		list = new ArrayList<Etudiant>();
@		@q1@@		/*1*/
        while (@@q2@@){     			
            String prenom = TextIO.getWord();
            String nom = TextIO.getWord();
            int cote = TextIO.getInt();
            TextIO.getln();
            list.add(
					 new Etudiant(prenom, nom, cote)
					 );
        }
    }

	public static List<Etudiant> getList() {
		return list;
	}

    public Etudiant(String prenom, String nom, int cote){
		this.prenom = prenom;
		this.nom = nom;
		this.cote = cote;
	}
	
	public boolean equals(Object o){
		if(o == null || !(o instanceof Etudiant)){
			return false;
		}
		Etudiant m = (Etudiant) o;
		return prenom.equals(m.prenom) && nom.equals(m.nom) && cote == m.cote;
	}

	public String toString(){
		return nom + ", " + prenom + ": " + cote;
	}

}
