package StudentCode;

public class Etudiant {
	/**
	 *	Code à vérifier
	 *	@pre n >= 0
	 *	@post retourne true si n est premier, false sinon
	 */
	public static boolean prime(int n){
		boolean prime = true;
@		@q1@@	
		return prime;
	}

}
