/**
 * Exercices pour la mission 4
 * 
 * @author O. Bonaventure
 * @version 2016
 */

/*
 * Déterminer le caractère le plus présent dans une chaine (plus compliqué)
 */
package StudentCode;

public class Etudiant
{
   /*
     * @pre s!=null
     * @post retourne le caractère qui se trouve le plus grand nombre de fois
     *       dans la chaîne s
     */
    @	@q1@@
}
