/**
 * Exercices pour la mission 4
 * 
 * @author O. Bonaventure
 * @version 2016
 */

package StudentCode;
public class Etudiant
{
    /*
     * @pre s!=null
     * @post retourne true uniquement si la chaine de caractères
     *       s ne contient que les caractères 0 ou 1
     */
    @	@q1@@
}
