/**
 * Exercices pour la mission 4
 * 
 * @author O. Bonaventure
 * @version 2016
 */

package StudentCode;

public class Etudiant
{
    /*
     * @pre s!=null, c!=null
     * @post retourne true si la chaine s contient uniquement des
     *       caracteres dans la chaine c, false sinon
     */
    
    @	@q1@@
}
