package StudentCode;

/**
 *	@author: François MICHEL
 */
 
public class Etudiant{

	Integer i;

	public int compareTo(Object o){
@		@q1@@
	}
	
	public int compareTo(Integer in){
		return i.compareTo(in);
	}
	
	public Etudiant(int n){
		i = new Integer(n);
	}
}
