
/**
 * Exercices pour la mission 4
 * 
 * @author O. Bonaventure
 * @version 2016
 */

/*
 * Faire des méthodes simples avec des pre et des post qui permettent aux étudiants de comprendre comment les caractères fonctionnent.
 */
package StudentCode;
public class Etudiant
{
    /*
     * @pre s!=null
     * @post retourne true uniquement si la chaine de caractères
     *       s ne contient que des chiffres
     *       
     */
    // Il y a une méthode dans la classe Character 
    // qui devrait vous aider à vérifier qu'un caractère est un chiffre
    // https://docs.oracle.com/javase/7/docs/api/java/lang/Character.html
    @	@q1@@
    
}
