
/**
 * Exercices pour la mission 4
 * 
 * @author O. Bonaventure
 * @version 2016
 */
package StudentCode;

public class Etudiant
{
    /* @pre s!=null
     * @post retourne le nombre d’occurrences du caractère c dans la chaîne s
     */
    @	@q1@@
}
