package StudentCode;

public class Rectangle
{
    private double longueur;
    private double largeur;

    /**
     * @pre long, larg >0
     * @post a construit un rectangle de longueur lon et de largeur larg
     */
    public Rectangle(double lon, double larg)
    {
        longueur=lon;
        largeur=larg;
    }

    /*
     * @pre -
     * @post retourne la longueur du rectangle
     */
    public double getLongueur() 
    {
        return longueur;
    }
    
    /*
     * @pre -
     * @post retourne la largeur du rectangle
     */
    
    public double getLargeur()
    {
        return largeur;
    }
        
    
    //Q1
    /*
     * @pre -
     * @post retourne la surface du rectangle
     */
    public double surface()
    {
        return longueur*largeur;
    }
    
    //Q2
    /*
     * @pre r!=null
     * @post return true si this et r sont identiques, false sinon
     */
    @	@q1@@
    
    //Q3
    /*
     * @pre r!=null
     * @post return true si this et r ont la même surface, false sinon
     */
    public boolean memeSurface(Rectangle r)
    {
        return this.surface()==r.surface();
        
    }
    
    // non fourni aux étudiants
    public String toString()
    {
        return "Rect[longueur="+longueur+", largeur="+largeur+"]";
        
    }
    
}
