/**
 * Exercices pour la mission 4
 * 
 * @author O. Bonaventure
 * @version 2016
 */

/*
 * Vérifier si une chaine de caractères est un palindrome https://en.wikipedia.org/wiki/Palindrome
 */
package StudentCode;

public class Etudiant
{
    /*
     * @pre s!=null
     * @post retourne true si s est un palindrome, false sinon
     * 
     */
    @	@q1@@
}
