/**
 * Exercices pour la mission 4
 * 
 * @author O. Bonaventure
 * @version 2016
 */

/*
 * Faire des méthodes simples avec des pre et des post qui permettent aux étudiants de comprendre comment les caractères fonctionnent.
 */
package StudentCode;

public class Etudiant
{
    /*
     * @pre s!=null, in!=null
     * @post retourne true si la chaine de caractère i se trouve dans la
     * chaine de caractères s
     * 
     */
    @	@q1@@
}
