package StudentCode;

import java.io.BufferedReader;
import java.io.FileReader;
import java.io.IOException;
import java.io.FileNotFoundException;


/**
 * @author ogoletti
 * @version 30/11/16
 */
public class Etudiant {
    /**
     * @pre     filename != null
     * @post    lit dans le fichier dont le nom est fileName le contenu d'une matrice mxn
     *          le format du fichier est :
     *          première ligne : l'entier m
     *          deuxième ligne : l'entier n
     *          lignes suivantes : une chaîne du format i,j val
     *                             où 0<=i<=m et à<=j<=n et val est un réel
     *          En cas d'erreur d'entrée/sortie (exception, fichier non lisible,
     *          nombre incorrect d'éléments, mauvais format) retourne null
     */
    public static double[][] loadMatrix(String filename) {
        @ @q1@@
    }
}
