package StudentCode;

	public class Pair{
		private int a;	// le premier élément de la paire
		private int b;	// le second élément de la paire
		
		/**
		 * 	@pre 	-
		 * 	@post	crée une paire avec a et b non-initialisés
		 */
		 public Pair(){
			 
		 }
		 
		/**
		 * @pre	-
		 * @post	crée une paire composée de x et y
		 */
		 public Pair(int x, int y){
			a = x;
			b = y;
		 }
		 
		/**
		 * @pre	-
		 * @post	donne au premier élément de la paire la valeur nA
		 */
		 public void setA(int nA){
			a = nA;
		 }
		
		/**
		 * @pre	-
		 * @post	donne au second élément de la paire la valeur nB
		 */
		 public void setB(int nB){
			b = nB;
		 }
		 
		/**
		 * @pre 	-
		 * @post	retourne le premier élément de la paire
		 */
		 public int getA(){
			return a;
		 }
		 
		/**
		 * @pre	-
		 * @post	retourne le second élément de la paire
		 */
		 public int getB(){
			return b;
		 }
			
			
		/**
		 * @pre		-
		 * @post	retourne une nouvelle instance de Pair dont les deux
		 * 			éléments sont les opposés de ceux de cette paire-ci 
		 */	
		 public Pair opposite(){
@			@q1@@
		 }
		 
		 public boolean equals(Object o){
			 if(o instanceof Pair){
				 return (((Pair) o).getA() == a) && (((Pair) o).getB() == b);
			 }
			 return false;
		 }
	}
