package StudentCode;

import java.io.*;
import src.librairies.ConstructException;

/**
 * @author Dubray Alexandre
 */
public class Etudiant {

	/**
	 * @pre		-
	 * @post	Retourne true si le fichier de nom
	 *			filename contient le String s
	 */
	public static boolean contains(String s,String fileName) throws ConstructException,IOException{
		@	@q1@@
	}
}
